.rbc-toolbar button {
  background-color: #5E50BF !important; /* Purple background */
  color: white !important; /* White text */
  padding: 8px 12px !important;
  font-weight: bold;
  border: none !important;
  cursor: pointer;
}

.rbc-toolbar button:hover {
  background-color: #4a3baa !important; /* Darker purple on hover */
}

/* Style active view buttons (Month, Week, Day, Agenda) */
.rbc-toolbar button.rbc-active {
  background-color: #5E50BF !important; /* Active button */
  color: white !important;
}

/* Disable button (for views that are not available) */
.rbc-toolbar button:disabled {
  background-color: #ccc !important;
  color: #666 !important;
  cursor: not-allowed;
}

.rbc-toolbar {
  border-radius: 10px;
}


.rbc-header{
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F1F4F9;
  color: #0E1E40;
  font-size: 13px;
}