label{
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 15px !important;
    color: #858FAD;
    margin-left: 12px;
    margin-bottom: 8px;
    display: block;
}

input{
    height: 48px !important;
    border-radius: 12px !important;
    background: #F3F2F8 !important;
    font-size: 12px !important;
    padding-left:19px ;
    margin-bottom: 24px;
}

input:focus{
    border: 2px solid #5E50BF !important;
    outline: none !important;
}